#Header{
    text-align: center;
}
#container{
    width: 100%;
}
.body{
    float: none;
    width: 97%;
    margin: auto;
    margin-bottom: 2%;
}
.sidebar{
    float: none;
    margin-bottom: 2%;
    width: 80%;
    box-shadow: -4px 4px  grey;
}
.images{
    width: 95%;
}
.footer{
    width: 95%;
    text-align: center;
    margin: auto;
    margin-top: 2%;
}